<!--   Welcome Section   -->

<div class = "welcome-container">
	<div class = "welcome-layout">
		<ul class = "welcome-text hidden">
			<li>B</li>
			<li>E</li>
			<li>R</li>
			<li>S</li>
			<li>E</li>
			<li>Y</li>	
		</ul>
		<svg id="line" viewBox="-1.114 -0.512 219 66">
			<path fill="none" stroke="#0099ff" stroke-width="5" stroke-miterlimit="14" d="M214.549,32.921
			c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
			C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"/>
		</svg>
		<ul class = "welcome-text-sub hidden">
			<li>"Engineered</li>
			<li>Solutions"</li>
		</ul>
	</div>
</div>

<!--   Navbar Section   -->

<header>
<div class="navbar-fixed">
	<nav class="white" role="navigation">
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<a id="logo-container" href="#" class="brand-logo">
					<img src="/images/bersey.png" id="logo"></img>
				</a>
			</ul>
			<ul id="nav-mobile" class="side-nav">
				<li><a href="#">Navbar Link</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse show-on-large right"><i class="material-icons">menu</i></a>
		</div>
	</nav>
</div>	
</header>

<!--   Index Section   -->
<div id="index-banner" class="row">
	<div id="main" class = "fadein col s12">
	</div>
	<span id="main-text" class ="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</span>
	<!--   Content 1   -->
	<div id = "aboutus" class = "fadein col s12">
	</div>
	<span id="aboutus-text" class ="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</span>
	<!--   Content 2   -->
	<div  id = "services" class = "fadein col s12">
	</div>
	<span id="services-text" class ="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</span>
	<!--   Content 3   -->
	<div  id = "projects" class = "fadein col s12">
	</div>
	<span id="projects-text" class ="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</span>
	<!--   Content 4   -->
	<div  id = "contactus" class = "fadein col s12">
	</div>
	<span id="contactus-text" class ="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</span>	
</div>



<div id="copyright-text">
	<span class= "right">© 2017 by BERSEY LTD STI. All rights reserved.</span>
</div>






