<!--   Welcome Section   -->

<div class = "welcome-container">
	<div class = "welcome-layout">
		<ul class = "welcome-text hidden">
			<li>B</li>
			<li>E</li>
			<li>R</li>
			<li>S</li>
			<li>E</li>
			<li>Y</li>	
		</ul>
		<svg id="line" viewBox="-1.114 -0.512 219 66">
			<path fill="none" stroke="#0099ff" stroke-width="5" stroke-miterlimit="14" d="M214.549,32.921
			c0,16.802-13.621,30.422-30.422,30.422H32.921C16.12,63.343,2.5,49.723,2.5,32.921l0,0C2.5,16.12,16.12,2.5,32.921,2.5h151.206
			C200.928,2.5,214.549,16.12,214.549,32.921L214.549,32.921z"/>
		</svg>
		<ul class = "welcome-text-sub hidden">
			<li>"Engineered</li>
			<li>Solutions"</li>
		</ul>
	</div>
</div>

<!--   Index Section   -->
<div id="index-banner" class="row">
	<div id="main" class = "fadein col s12">
	</div>
	<span id="main-text" class ="text">Since its foundation in 1979,</span><span  id="main-text2" class ="text">BERSEY Engineering Ltd. has been mainly involved in production of Industrial Steam Generation Plants and Thermal Oil Heaters.</span>
	<!--   Content 1   -->
	<div id = "aboutus" class = "fadein col s12">
	</div>
	<span id="aboutus-text" class ="text">In a small workshop in Istanbul, Turkey,</span> <span id="aboutus-text2" class ="text">The company commenced manufacturing thermal boilers for domestic use with only 5 employees.</span>
	<!--   Content 2   -->
	<div  id = "services" class = "fadein col s12">
	</div>
	<span id="services-text" class ="text">Since then, BERSEY has grown to be the biggest thermal fluid boiler producer in Turkey with two factories and more than 60 employees.</span>
	<!--   Content 3   -->
	<div  id = "projects" class = "fadein col s12">
	</div>
	<span id="projects-text" class ="text">The company has manufactured and installed heat exchange systems across Russia, Romania, Moldova, Belarus, and Turkey.</span>
	<!--   Content 4   -->
	<div  id = "contactus" class = "fadein col s12">
	</div>
	<span id="contactus-text" class ="text">BERSEY has the capability of manufacturing thermal plants up to 100 MWth power generation capacity.</span>
	<!--   Content 5   -->
	<div  id = "lastsection" class = "fadein col s12 ">
		<div class = "col s4 offset-s4 card-panel" id="last-contact">
		<h4 id="address-text"><span class ="text-last ">ADDRESS</span></h4>
		<div id="last-text"><span class ="text-last">Söğütlüçeşme Mah. Halkalı Cad. No:257 Bina:4 Kat:2</span></div> 
		<div  id="last-text2"><span class ="text-last">Sefakoy 34160 / Istanbul / Turkey</span></div>
		<h4 id="phone-text"><span class ="text-last">PHONE</span></h4>
		<div  id="last-text3"><span class ="text-last">+90 212 674 70 70</span></div>
		</div>
	</div>
</div>
<div class="linkedin">
	<a href="https://www.linkedin.com/company-beta/10671411/"><img class = "left" src="/images/linkedin.png"></a>
</div>
<div class="footer-link">
	<a href="" id="nav-link">PLEASE CLICK TO NAVIGATE ON SITE</a>
</div>












