<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/materialize.css"/>
</head>
<body<%= @bodyclass %>>
<!--   Navbar Section   -->
<header>
	<div class="navbar-fixed">
		<nav class="white" role="navigation">
			<div class="nav-wrapper">
				<ul class="left hide-on-med-and-down">
					<a id="logo-container" href="/aboutus" class="brand-logo">
						<img src="/images/bersey.png" id="logo"></img>
					</a>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li><a href="/aboutus">ABOUT US</a></li>
					<li><a href="/projects">PROJECTS</a></li>
					<li><a href="/contactus">CONTACT US</a></li>
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse show-on-large right"><i class="small material-icons">menu</i></a>
			</div>
		</nav>
	</div>	
</header>
<!--   Main Section   -->
<%= yield %>
<div id="copyright-text">
	<span class= "right">© 2017 by BERSEY LTD STI. All rights reserved.</span>
</div>	
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/home.js"></script>
</body>
</html>
